NEXT_PUBLIC_DIRECTUS_URL=https://cms.tlis.sk
DIRECTUS_TOKEN=
NEXT_PUBLIC_STREAM_URL=https://stream.tlis.sk/tlis.mp3
NEXT_PUBLIC_SITE_URL=https://tlis.sk/
ICECAST_ENDPOINT=https://stream.tlis.sk/status-json.xsl
NEXT_PUBLIC_VIDEO_STREAM_BASE_URL=https://video-stream.tlis.sk/live
STREAMS_COLLECTION=video_streams
TRACKER_ENABLED=false
