@tailwind base;
@tailwind components;
@tailwind utilities;

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

/**
I'm sorry but I'm really not sure why:
** .swiper-slide-prev
** .swiper-slide-next
** .swiper-slide:not(.swiper-slide-visible)
** .swiper-slide:is(.swiper-slide-visible)
are written like this, but if i delete something from it, it breaks

* ! Problem 1: The 3rd slide from the beginning and the end don't follow the opacity transition 0.5s from 0 to 1 (invisible to visible).
* ! They jump right from 0 to 1
* ! 27.6.2024 6:41 - It's an Opera, MS Edge and Chrome Problem
* TODO: Fix Problem 1
*/

@font-face {
    font-family: 'ArgentumSans-Regular';
    src: url('/fonts/argentum-sans/ArgentumSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ArgentumSans-Bold';
    src: url('/fonts/argentum-sans/ArgentumSans-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ArgentumSans-Medium';
    src: url('/fonts/argentum-sans/ArgentumSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ArgentumSans-Light';
    src: url('/fonts/argentum-sans/ArgentumSans-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ArgentumSans-Thin';
    src: url('/fonts/argentum-sans/ArgentumSans-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.swiper-wrapper {
    padding-bottom: 4em;
}

.swiper-slide-prev,.swiper-slide-next {
    opacity: 1;
    filter: blur(4px);
    pointer-events: none;
    transition: filter 0.5s, opacity 0.5s ease;
}

.swiper-slide:not(.swiper-slide-visible) {
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s, filter 0.5s, opacity 0.5s ease;
}

.swiper-slide:is(.swiper-slide-visible){
    opacity: 1;
    transition: transform 0.5s, filter 0.5s, opacity 0.5s ease;
}

/* -------------------------------------------------------------------------- */
/*                          Swiper Navigation Buttons                         */
/* -------------------------------------------------------------------------- */


.swiper-button-next::after, .swiper-button-prev::after {
    @apply rounded-full px-5 py-2 text-red-700 bg-white transition-colors relative scale-75 top-[225%] sm:top-[200%] sm:scale-90 md:top-[220%] lg:top-[280%] xl:top-[330%] 2xl:top-[300%] 2xl:scale-100 xxxl:scale-125 xxxl:top-[420%] tlis_monitor:top-[600%]; 
}

.swiper-button-next::after {
    @apply right-[200%] lg:right-[600%] xl:right-[700%] 2xl:right-[800%]
}

.swiper-button-prev::after {
    @apply left-[200%] lg:left-[600%] xl:left-[700%] 2xl:left-[800%]
}

.swiper-button-next:hover::after, .swiper-button-prev:hover::after{
    @apply bg-red-700 text-white transition-colors;
}

/* -------------------------------------------------------------------------- */
/*                            Volume Slider Styling                           */
/* -------------------------------------------------------------------------- */

/* Removing default styling from slider */

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 12px
}
 
input[type="range"]:focus {
   outline: none;
}


/* Applying webkit styles (Chrome, Opera, Safari etc.) */

input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-white rounded-lg h-1
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply bg-[#2e2b2c] w-3 h-3 rounded-full outline-red-900 scale-105 transition-transform relative bottom-1
}

input[type="range"]:hover::-webkit-slider-thumb {   
    @apply scale-125 transition-transform
}

input[type="range"]:hover::-webkit-slider-runnable-track {
    @apply bg-gray-300 
}


/* Applying moz styles (Firefox) */

input[type="range"]::-moz-range-track {
    @apply bg-white rounded-lg
}

input[type="range"]::-moz-range-thumb {
    border: none; 
    border-radius: 0;
    @apply bg-[#2e2b2c] w-3 h-3 rounded-full outline-red-900 scale-105 transition-transform 
}

input[type="range"]:hover::-moz-range-thumb {
    @apply scale-125 transition-transform
}

input[type="range"]:hover::-moz-range-track {
    @apply bg-gray-300 
}