@tailwind base;
@tailwind components;
@tailwind utilities;

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

/**
I'm sorry but I'm really not sure why:
** .swiper-slide-prev
** .swiper-slide-next
** .swiper-slide:not(.swiper-slide-visible)
** .swiper-slide:is(.swiper-slide-visible)
are written like this, but if i delete something from it, it breaks

* ! Problem 1: The 3rd slide from the beginning and the end don't follow the opacity transition 0.5s from 0 to 1 (invisible to visible).
* ! They jump right from 0 to 1
* ! 27.6.2024 6:41 - It's an Opera, MS Edge and Chrome Problem
* TODO: Fix Problem 1
*/

.swiper-slide-prev,.swiper-slide-next {
    opacity: 1;
    filter: blur(4px);
    pointer-events: none;
    transition: filter 0.5s, opacity 0.5s ease;
}

.swiper-slide:not(.swiper-slide-visible) {
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s, filter 0.5s, opacity 0.5s ease;
}

.swiper-slide:is(.swiper-slide-visible){
    opacity: 1;
    transition: transform 0.5s, filter 0.5s, opacity 0.5s ease;
}

.swiper-button-next::after {
    color: crimson;
    background-color: #fff;
    border-radius: 70%;
    padding: 5px 16px 5px;
    position: relative;
    right: 1rem;
}

.swiper-button-prev::after {
    color: crimson;
    background-color: #fff;
    border-radius: 70%;
    padding: 5px 16px 5px;
    position: relative;
    left: 1rem;
}