@tailwind base;
@tailwind components;
@tailwind utilities;

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

/**
I'm sorry but I'm really not sure why:
** .swiper-slide-prev
** .swiper-slide-next
** .swiper-slide:not(.swiper-slide-visible)
** .swiper-slide:is(.swiper-slide-visible)
are written like this, but if i delete something from it, it breaks

* ! Problem 1: The 3rd slide from the beginning and the end don't follow the opacity transition 0.5s from 0 to 1 (invisible to visible).
* ! They jump right from 0 to 1
* ! 27.6.2024 6:41 - It's an Opera, MS Edge and Chrome Problem
* TODO: Fix Problem 1
*/

@font-face {
    font-family: 'ArgentumSans-Regular';
    src: url('/fonts/argentum-sans/ArgentumSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.swiper-wrapper {
    padding-bottom: 4em;
}

.swiper-slide-prev,.swiper-slide-next {
    opacity: 1;
    filter: blur(4px);
    pointer-events: none;
    transition: filter 0.5s, opacity 0.5s ease;
}

.swiper-slide:not(.swiper-slide-visible) {
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s, filter 0.5s, opacity 0.5s ease;
}

.swiper-slide:is(.swiper-slide-visible){
    opacity: 1;
    transition: transform 0.5s, filter 0.5s, opacity 0.5s ease;
}

/**
* Swiper Navigation Buttons
*/

.swiper-button-next::after, .swiper-button-prev::after {
    @apply rounded-full px-5 py-2 text-red-700 bg-white transition-colors relative scale-75 top-[225%] sm:top-[200%] sm:scale-90 md:top-[220%] lg:top-[280%] xl:top-[330%] 2xl:top-[300%] 2xl:scale-100; 
}

.swiper-button-next::after {
    @apply right-[200%] lg:right-[600%] xl:right-[700%] 2xl:right-[800%]
}

.swiper-button-prev::after {
    @apply left-[200%] lg:left-[600%] xl:left-[700%] 2xl:left-[800%]
}

.swiper-button-next:hover::after, .swiper-button-prev:hover::after{
    @apply bg-red-700 text-white transition-colors;
}

